/*html,body{
    margin: 0;
    padding: 0;
    width: 100%;
    height: auto;
}*/
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&family=Roboto&display=swap');
#container{
    width: calc(100% - 420px);
    height: 100vh;
    overflow-y: scroll;
    margin-right: 420px;
}
#ex-score{
    /*--primary-color: #34D64D;*/
    --primary-color: #1f286f;
    --gray-color: #f5f5f6;
    --white-color: #ffffff;
    --black-color: #444444;
    --gray-border-color: rgba(0,0,0,0.16);
    display: block;
    position: fixed;
    width: 420px;
    height: 100vh;
    top: 0;
    right: 0;
    border-right: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: -3px 0 10px rgba(0, 0, 0, 0.3);
    background: #000;
    overflow-x: hidden;
    font-family: 'Roboto', 'Noto Sans JP', sans-serif;
}
.ex-page{
    position: absolute;
    top: 0;
    left: 0%;
    width: 100%;
    height: 100%;
    background: var(--white-color);
    animation: pageIn 0.3s ease;
}
@keyframes pageIn {
    0% {left:100%;}
    100% {left:0%;}
}
.pageOut{
    animation: pageOut 0.3s ease;
    left: 100%;
}
@keyframes pageOut {
    0% {left:0%;}
    100% {left:100%;}
}
.pageShow{
    animation: pageShow 0.3s ease;
    opacity: 1;
    left: 0px;
    pointer-events: auto;
}
@keyframes pageShow {
    0% {left:-10%;opacity: 0.8;pointer-events: none;}
    100% {left:0px;opacity: 1;pointer-events: none;}
}
.pageHide{
    animation: pageHide 0.4s ease;
    opacity: 0;
    left: -10%;
    pointer-events: none;
}
@keyframes pageHide {
    0% {left:0px;opacity: 1;}
    100% {left:-10%;opacity: 0.8;}
}
#ex-score .ex-header{
    display: flex;
    align-items: center;
    position: relative;
    width: calc(100% - 16px);
    height: 40px;
    padding: 8px;
    background-color: var(--white-color);
    color: var(--black-color);
    z-index: 99;
    box-shadow: 0 1px 0 var(--gray-border-color);
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}
#ex-score .ex-header p{
    margin: 0;
    padding: 8px;
    font-size: 20px;
}
#ex-score .ex-header .header-button{
    content: " ";
    display: block;
    width: 24px;
    height: 24px;
    padding: 8px;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 50%;
}
#ex-score .ex-header #back-button:hover{
    background-color: rgba(0, 0, 0, 0.08);
    transition: background-color 0.2s;
    cursor: pointer;
}
#ex-score .ex-body{
    display: block;
    position: relative;
    width: 420px;
    height: calc(100vh - 60px);
    overflow-y: auto;
}
#ex-score .item-list{
    display: flex;
    flex-direction: column;
    gap: 16px;
    list-style: none;
    margin: 0;
    width: calc(100% - 32px);
    padding: 32px 16px;
}
#ex-score .item-list li{
    display: flex;
    gap: 16px;
    align-items: center;
    width: calc(100% - 32px);
    padding: 16px;
    border: 1px solid var(--gray-border-color);
    border-radius: 10px;
    background-color: var(--white-color);
    transition: border 0.1s;
    cursor: pointer;
}
#ex-score .item-list li:hover{
    box-shadow: 0 0 5px var(--gray-border-color);
}
#ex-score .item-list li .list-title{
    font-size: 18px;
    margin-bottom: 1px;
    max-width: 220px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
#ex-score .item-list li .list-value{
    font-size: 13px;
}
#ex-score .bar{
    content: " ";
    display: flex;
    align-items: center;
    position: relative;
    height: 38px;
    background: var(--gray-color);
    border-radius: 12px;
    overflow: hidden;
}
#ex-score .item-list li .bar{
    justify-content: center;
    width: 100px;
}
#ex-score .item-list li .bar-text{
    color: var(--primary-color);
    font-size: 20px;
}
#ex-score .item-list li .bar-val{
    content: " ";
    display: block;
    position: absolute;
    width: 42%;
    height: 100%;
    top: 0;
    left: 0;
    background: var(--primary-color);
    overflow: hidden;
}
#ex-score .item-list li .bar-val-text{
    position: absolute;
    top: 50%;
    left: 50px;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    font-size: 20px;
    color: var(--white-color);
}
#ex-score .progress-bar{
    width: calc(100% - 32px);
    padding: 16px;
    border-bottom: 1px solid var(--gray-border-color);
}
#ex-score .progress-bar .progress-text{
    font-size: 14px;
    margin-bottom: 8px;
}
#ex-score .progress-bar .bar{
    width: calc(100% - 32px);
    padding: 0 16px;
}
#ex-score .progress-bar .bar-text{
    color: var(--primary-color);
    font-size: 20px;
}
#ex-score .progress-bar .bar-val{
    content: " ";
    display: block;
    position: absolute;
    width: 42%;
    height: 100%;
    top: 0;
    left: 0;
    background: var(--primary-color);
    overflow: hidden;
}
#ex-score .progress-bar .bar-val-text{
    position: absolute;
    top: 50%;
    left: 16px;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    font-size: 20px;
    color: #fff;
}

/*TabControl*/
.tab-box{
    position: relative;
    width: 100%;
}
.tab-control{
    display: flex;
    flex-wrap: nowrap;
    position: sticky;
    top: 0px;
    width: 100%;
    background: var(--white-color);
    box-shadow: 0 3px 3px var(--gray-border-color);
    z-index: 1;
    cursor: pointer;
}
.tab-button{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 12px 0;
    font-size: 14px;
    overflow:hidden;
}
.selected-tab{
    padding: 16px 0 14px;
    border-bottom: 2px solid var(--primary-color);
}
.tab-section{
    display: none;
}
.active-tab{
    display: block;
}